@tailwind base;
@tailwind components;
@tailwind utilities;

.playfairfont {
  font-family: "Playfair Display";
}

.dmsansfont {
  font-family: "DM Sans";
}

.bgimg {
  background-size: full;
  margin: 0px 100px;
}
